<div class="container">
  <br />
  <div class="row">
    <div class="col">
      <h3>CPUs</h3>
    </div>
  </div>
  <br />

  <table class="table table-bordered table-sm text-center">
    <thead>
      <tr>
        <th>Brand</th>
        <th>Series</th>
        <th>Action</th>
      </tr>
      <tr *ngIf="cpus?.length == 0"><td>No data</td></tr>
    </thead>
    <tbody>
      <tr *ngFor="let cpu of cpus">
        <td>{{ cpu.brand?.name }}</td>
        <td>{{ cpu.series  }}</td>
        <td>
          <button type="button" (click)="deleteCpu(cpu.id)" class="btn btn-danger btn-sm mr-1">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>


<div class="container">
  <br />
  <div class="row">
    <div class="col">
      <h3>Create CPU</h3>
    </div>
  </div>
  <br />
  <form [formGroup]="createcpuForm" (ngSubmit)="onSubmit(createcpuForm)">

    <div class="form-group">
      <label for="brandId">Brand:</label>
      <select formControlName="brandId"
              id="brandId"
              class="form-control">
        <option value="default">- Select -</option>
        <option *ngFor="let brand of brands" [ngValue]="brand.id">{{ brand.name }}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="series">Series:</label>
      <input formControlName="series"
             id="series"
             type="text"
             class="form-control" />
    </div>

    <button class="btn btn-primary" type="submit" [disabled]="!createcpuForm.valid">Create</button>
  </form>
</div>
